<div class="text-center mt-5">
  <%= image_tag "logo.png", width: "240px" %>
</div>

<div class="container-fluid my-5">
  <div class="row py-4 justify-content-center">
    <div class="col text-center">
      <p class="about-text" >短編小説向けの小説SNSサイトです<br>
        小説を読むことが好きだけど、忙しくて読む時間があまり長く取れない<br>
        ちょっとしたアイディアを閃いたから、書いて投稿してみよう
      <p class="about-text">そんな人たちにぜひ使ってみてほしいです。</p>
    </div>
  </div>
</div>