<div class="text-center mt-5">
<h1>once-novel</h1>
</div>

<div class="container mt-3">
<p>短編小説向けの小説SNSサイトです</p>
<p>小説を読むことが好きだけど、忙しくて読む時間があまり長く取れない</p>
<p>ちょっとしたアイディアを閃いたから、書いて投稿してみよう</p>

<p>そんな人たちにぜひ使ってみてほしいです。</p>

</div>