<% if @novel.user.is_deleted %>

<div class="text-center my-5">
  <b>投稿したアカウントが退会したため、投稿は見れません</b>
</div>


<!--ノベルステータスが1<novel_private>の時 かつ　投稿主と投稿した人が違う<!=>時は非公開　-->
<% elsif @novel.novel_status == "novel_private" && current_user != @novel.user %>

<div class="text-center my-5">
  <b>この投稿は非公開です</b>
</div>

<% else %>

<!--ノベル本編-->
<%= render "public/novels/novel", novel: @novel %>

<% end %>