* {
  list-style: none;

}




/*主にテーブルのボーダが要らない時*/
.border-none {
  border: hidden;
}

.header-color {
  background: #a6f7ac;
}


.top-contents {
  width: 220px;
  background: #87a962;
  height: 220px;
  padding-top: 80px;
  text-align: center;
  font-size: 23px;
  color: #fff;
  margin: 10px 10px;
  border-radius: 25px;
}

/*novel showページ。非公開時点滅*/
.blink {
  animation: blinking 4s ease-in infinite alternate;
  color: #444;
  border-radius: 50px;
}

@keyframes blinking {
	100% {
	  opacity: 1;
	  color: #fff;
	}
	100% {
	  opacity: 0;
	}
}


.about-text {
  font-style: italic;
}


.back-white {
  background: #fff;
}


footer {
  height: 160px;
  background: #78CB7F;

}


.footer-text {

  color: #fff;
}

.footer-text a{
  color: #fff;
}



@media screen and (max-width: 480px) {
  /* ここに480px以下の画面幅に対応するCSSを記述する */


  .top-contents {
    background: #87a962;
    width: 150px;
    height: 150px;
    padding-top: 55px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin: 10px 10px;
    border-radius: 25px;

  }
}