* {
  list-style: none;

}




/*主にテーブルのボーダが要らない時*/
.border-none {
  border: hidden;
}

.header-color {
  background: #a6f7ac;
}


.top-contents {
  width: 220px;
  height: 220px;
  padding-top: 80px;
  background: #87a962;
  text-align: center;
  font-size: 23px;
  color: #fff;
  margin-right: 20px;
  border-radius: 25px;


}


.about-text {
  font-style: italic;
}


.back-white {
  background: #fff;
}


footer {
  height: 160px;
  background: #78CB7F;

}


.footer-text {

  color: #fff;
}

.footer-text a{
  color: #fff;
}